<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Vue</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.12/vue.min.js"></script>
		<style>
			
		</style>
	</head>
	<body>
		<div id="app">
			<input type="text" placeholder="请输入关键字" v-model="keyWord"/>
			<button @click="sortType = 1">升序</button>
			<button @click="sortType = 2">降序</button>
			<button @click="sortType = 0">原顺序</button>
			<button @click="updateP">更改</button>
			<ul>
				<li v-for="person in fmtPersons">{{person.name}}---{{person.age}}岁</li>
			</ul>
		</div>
	</body>
	<script>
		var vm = new Vue({
			el:"#app",
			data:{
				keyWord:'',
				sortType:0,
				persons:[
					{name:'马丽',age:45},
					{name:'马冬梅',age:32},
					{name:'陈学冬',age:35},
					{name:'张学友',age:25}
				],
				p:{
					name:'kersin',
					age:25,
					gender:'男'
				}
			},
			methods:{
				updateP(){
					console.log(this.persons[0]);
					this.persons[0] = {name:'kersin',age:24};	//这里直接修改数组中的对象，那这个对象将失去响应功能；
					this.persons.push();		//Vue对原生数组做了升级，这里既帮你实现了push功能，又更新了一下页面
					console.log(this.persons[0]);
					
				}
			},
			computed:{
				fmtPersons(){
					const {persons,keyWord,sortType} = this;
					let arr = persons.filter(p=>p.name.indexOf(keyWord)!=-1);

					if(sortType){
						arr.sort((a,b)=>{
							if(sortType=== 1){
								return a.age - b.age;
							}else{
								return b.age - a.age;
							}
						})
					}

					return arr;
				}
			}
		})
	</script>
</html>
