<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Vue</title>
		<script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.12/vue.min.js"></script>
	</head>
	<body>
		<div id="app">
			<h1>购物车案例</h1>
			<div>
				搜索<input type="text" v-model="inputVal"/>
				<table border=""rules="all">
					<tr><th>名字</th><th>单价</th><th>数量</th><th>金额（元）</th></tr>
					<tr v-for="(item,index) in searchData">
						<td>{{item.name}}</td>
						<td>{{item.price}}</td>
						<td>
							<button @click="item.count--" :disabled="item.count<=0">-</button>
								{{item.count}}
							<button @click="item.count++" :disabled="item.count>=item.maxCount">+</button>
						</td>
						<td>{{item.price*item.count | moneyFilter(2)}}</td>
					</tr>
				</table>
			</div>
			<div>
				共{{totalCount}}件商品，共{{totalPrice|moneyFilter()}}元
			</div>
		</div>
		
	</body>
	
	<script>	
	   	const app = new Vue({
			el:"#app",
			data:{
				inputVal:'',
				items:[
					{name:'苹果',price:10,count:8,maxCount:8},
					{name:'西瓜',price:13,count:5,maxCount:8},
					{name:'香蕉',price:23,count:4,maxCount:8},
					{name:'火龙果',price:12,count:6,maxCount:8},
					{name:'葡萄',price:18,count:7,maxCount:8}
				]
			},
			computed:{
				totalCount(){
					return this.searchData.reduce((a,v)=>a+v.count,0);
				},
				totalPrice(){
					return this.searchData.reduce((a,v)=>a+v.price*v.count,0);
				},
				searchData(){
					if(!this.inputVal) return this.items;
					return this.items.filter(item=>item.name.includes(this.inputVal))
				}
			},
			filters:{
				moneyFilter(data,decimal){
					decimal = decimal||1
					return "￥"+data.toFixed(decimal)
				}
			}
		})
	</script>
</html>
